.toggleTheme {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: var(--body-bg-color);
    box-shadow: 0px 0px 12px 6px var(--page-shadow-color);
}

.toggleTheme input {
    opacity: 0;
    width: 0;
    height: 0;
}

.themeSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--body-bg-color);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.themeSlider:before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    left: 0px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 0px 15px var(--page-shadow-color);
    background-color: var(--section-bg-color);
}

input:checked+.themeSlider {
    background-color: #2196f3;
}

input:focus+.themeSlider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked+.themeSlider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
    background-color: var(--section-accent-color);
}
