@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --body-bg-color: hsl(240, 18%, 94%);
    --page-bg-color: hsl(240, 14%, 96%);
    --page-shadow-color: hsla(201, 11%, 74%, 0.5);
    --section-bg-color: hsl(207, 6%, 20%);
    --text-color: hsl(240, 16%, 16%); 
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg-color: hsl(240, 15%, 13%);
    --page-bg-color: hsl(235, 15%, 17%);
    --page-shadow-color: hsl(207deg 73% 5% / 50%);
    --section-bg-color: hsl(207, 6%, 20%);
    --text-color: hsl(240, 15%, 80%);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    background: var(--body-bg-color);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
