@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .page-wrap {
        background-color: var(--page-bg-color);
        width: min(100%, 1536px);
        height: 100%;
        box-shadow: 0px 0px 12px 6px var(--page-shadow-color);
    }

    .fluid-type {
        font-size: clamp(2.5rem, -0.875rem + 8.333vw, 5.5rem);
        text-transform: uppercase;
        color: var(--text-color);
    }
}

:root {
    --body-bg-color: hsl(240, 24%, 93%);
    --page-bg-color: hsl(240, 20%, 98%);
    --page-shadow-color: hsla(240, 21%, 85%, 0.35);
    --section-bg-color: hsl(0, 0%, 100%);
    --section-accent-color: hsl(247, 67%, 49%);
    --section-accent-color-1: hsl(247, 67%, 40%);
    --section-accent-color-2: hsl(247, 67%, 58%);
    --text-color: hsl(244, 63%, 18%);
    --border-rad: 12px 12px 0 0;
    --border-rad-lg: 12px 0 0 0;
    --border-rad-enhanced: 30% 5% / 20%;
    --google-font: 'Josefin Sans', sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --body-bg-color: hsl(248, 11%, 15%);
        --page-bg-color: hsl(247, 10%, 18%);
        --page-shadow-color: hsla(248, 11%, 15%, 0.45);
        --section-bg-color: hsl(245, 8%, 28%);
        --section-accent-color: hsl(247, 63%, 39%);
        --section-accent-color-1: hsl(247, 63%, 30%);
        --section-accent-color-2: hsl(247, 63%, 48%);
        --text-color: hsl(240, 60%, 99%);
    }
}

body {
    background: var(--body-bg-color);
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}
