@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .page-wrap {
        background-color: var(--page-bg-color);
        width: min(100%, 1536px);
        height: 100%;
        box-shadow: 0px 0px 12px 6px var(--page-shadow-color);
    }

    .fluid-type {
        font-size: clamp(2.5rem, -0.875rem + 8.333vw, 5.5rem);
        text-transform: uppercase;
        color: var(--text-color);
    }
}

:root {
    --body-bg-color: hsl(240, 18%, 94%);
    --page-bg-color: hsl(240, 14%, 96%);
    --page-shadow-color: hsla(201, 11%, 74%, 0.5);
    --section-bg-color: hsl(207, 6%, 20%);
    --text-color: hsl(240, 16%, 16%); 
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg-color: hsl(240, 15%, 13%);
    --page-bg-color: hsl(235, 15%, 17%);
    --page-shadow-color: hsl(207deg 73% 5% / 50%);
    --section-bg-color: hsl(207, 6%, 20%);
    --text-color: hsl(240, 15%, 80%);
  }
}

body {
    background: var(--body-bg-color);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
