.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;  
}

@media (min-width: 1400px) {
    .app {
        padding: 2rem 0;
    }
}

.gridCenter {
    display: grid;
    place-items: center;
    height: 100vh;
}
